In [1]:
import pandas as pd

In [2]:
file = "rmsothebys/final/rmsothebys_2025_upcoming.csv"
df = pd.read_csv(file)
df.head()

,Title,Chassis No,Location,Price,info_0,info_1,info_2,info_3,Event Date,info_4,...,info_8,info_9,info_10,info_11,info_12,info_13,info_14,info_15,info_16,info_17
0,1959 Vespa 400,018831,"Phoenix, Arizona","$20,000 - $30,000 USD",Wonderfully restored using a variety of custom...,"Winner of an AACA First Junior award in 2005, ...",Dripping with character; a delightful Italian ...,Rarely seen in the United States,24 January 2025,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995 BMW M3,WBSBF9322SEH07580,"Phoenix, Arizona","$50,000 - $70,000 USD",Single-family ownership from new,"Showing just 4,832 miles on the odometer at ca...",Sought-after Dakar Yellow exterior over black ...,"Incredibly well-optioned with Luxury package, ...",24 January 2025,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1869 Western Concord-Style Stagecoach Recreation,NaN,"Phoenix, Arizona","$20,000 - $40,000 USD","A full-sized stagecoach, truly an icon of the ...","Solidly constructed and elaborately detailed, ...",Modern running gear modifications for ease of ...,Absolutely spectacular in presentation,24 January 2025,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1911 Reo Thirty Touring,NaN,"Phoenix, Arizona","$20,000 - $30,000 USD","A well-balanced, enjoyable Brass Era touring car",Nicely presented restoration in handsome livery,Accompanied by assorted restoration photographs,NaN,24 January 2025,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1923 Jewett Model 18-22 Special Touring,NaN,"Phoenix, Arizona","$20,000 - $30,000 USD",A near-duplicate of Clive Cussler’s first auto...,"Well-presented, charming older restoration",Still extremely attractive in very charming an...,NaN,24 January 2025,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
null_rows_specific = df[df["Title"].isnull()]
print(null_rows_specific['listing_URL'])
file_path = "example.txt"

# Write content to the file
with open(file_path, "w") as file:
    for text in null_rows_specific["listing_URL"]:
        file.write(text+"\n")

Series([], Name: listing_URL, dtype: object)

In [4]:
data = df[df["Title"].notna() & (df["Title"] != "")]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        218 non-null    object
 1   Chassis No   194 non-null    object
 2   Location     218 non-null    object
 3   Price        218 non-null    object
 4   info_0       217 non-null    object
 5   info_1       217 non-null    object
 6   info_2       217 non-null    object
 7   info_3       204 non-null    object
 8   Event Date   218 non-null    object
 9   info_4       176 non-null    object
 10  info_5       132 non-null    object
 11  listing_URL  218 non-null    object
 12  info_6       110 non-null    object
 13  info_7       107 non-null    object
 14  info_8       71 non-null     object
 15  info_9       70 non-null     object
 16  info_10      32 non-null     object
 17  info_11      31 non-null     object
 18  info_12      13 non-null     object
 19  info_13      13 non-null     object
 20  info_14      5 non-null      object
 21  info_15      5 non-null      object
 22  info_16      1 non-null      object
 23  info_17      1 non-null      object
dtypes: object(24)
memory usage: 41.0+ KB

In [6]:
brand_name = [
    "9ff",
    "ABT Sportsline",
    "AC Cars",
    "ADK",
    "AGCO",
    "AIL",
    "AITO",
    "AM General",
    "AMC",
    "AMI",
    "ARO",
    "ASA",
    "AUDI",
    "Abarth",
    "Acadian",
    "Acura",
    "Adam Motor Company",
    "Afeela",
    "Agrale",
    "Aion",
    "Aiways",
    "Aixam",
    "Ajax",
    "Alatac",
    "Albion",
    "Alesbury",
    "Alfa Romeo",
    "Allard",
    "Almac",
    "Alpha Sports",
    "Alpina",
    "Alpine",
    "Alta",
    "Alternative Cars",
    "Alvis",
    "Amati Cars",
    "Amazonas Motos Especiais",
    "Amazonas Motos Especiais (AME)",
    "American Simplex",
    "Amherst",
    "Amilcar",
    "Amphicar",
    "Amplex",
    "Anadol",
    "Anasagasti",
    "Andino",
    "Anglo-Dane",
    "Anteros",
    "Anziel",
    "Apal",
    "Arash",
    "Arcfox",
    "Arcimoto",
    "Argentina",
    "Ariel",
    "Armstrong Siddeley",
    "Arrinera",
    "Arrival",
    "Artega",
    "Ascari",
    "Ascort",
    "Ashok Leyland",
    "Asia",
    "Aspa",
    "Aspark",
    "Aspid",
    "Aston Martin",
    "Astra",
    "Asüna",
    "Atlas Honda",
    "Attica",
    "Auburn",
    "Audi",
    "Aurica",
    "Aurus Motors",
    "Austin-Healey",
    "Australian Six",
    "Australis",
    "Austro-Daimler",
    "Austro-Tatra",
    "Auto Avio Costruzioni",
    "Auto Union",
    "Auto and motor shows",
    "Auto-Mixte",
    "AutoLatina",
    "Autobianchi",
    "Autokinitoviomihania Ellados",
    "Automeccanica",
    "Automobile manufacturers",
    "Automobile sales by model",
    "Automotive design",
    "Automotive engineering",
    "Autozam",
    "Avatr Technology",
    "Avia",
    "Avibrás",
    "AzSamand",
    "BAIC Group",
    "BET",
    "BMW",
    "BMW M",
    "BYD",
    "BYD Bus",
    "Baby-Brousse",
    "Bahman",
    "Bajaj Auto",
    "Balkania",
    "Ballot",
    "Bangladesh",
    "Baojun",
    "Baolong",
    "Beattie",
    "Beaumont",
    "Beijing",
    "Beijing Automobile Works",
    "Beijing Off-road",
    "BelAZ",
    "BelGee",
    "Belarus",
    "Benelli",
    "Bentley",
    "Berkeley",
    "Berliet",
    "Bernardini",
    "Bertone",
    "Bestune",
    "Biamax",
    "Birchfield",
    "Birkin",
    "Bitter",
    "Bizzarrini",
    "Bjering",
    "Blade",
    "Bollinger Motors",
    "Bolloré",
    "Bolwell",
    "Bombardier Recreational Products",
    "Bond",
    "Borgward",
    "Borland Racing Developments",
    "Brabus",
    "Brasil & Movimento",
    "Brasinca",
    "Brazil",
    "Bremach",
    "Brems",
    "Bricklin",
    "Briggs Automotive Company (BAC)",
    "Bristol",
    "British Salmson",
    "Brock",
    "Brooks",
    "Buchanan",
    "Buckle",
    "Buckler",
    "Buddy",
    "Bufori",
    "Bugatti",
    "Buick",
    "Bulgaralpine",
    "Bulgaria",
    "Bulgarrenault",
    "Bullet",
    "Bus manufacturers",
    "Bush Ranger",
    "Busscar",
    "Byton",
    "C.AR",
    "CAMI",
    "CFMoto",
    "CMC",
    "CT&T",
    "Cadillac",
    "Caldwell Vale",
    "Callaway",
    "Campagna",
    "Canada",
    "Canadian",
    "Canadian Electric Vehicles",
    "Canadian Motor",
    "Candia",
    "Canoo",
    "Carbuss",
    "Carlton",
    "Casalini",
    "Category",
    "Caterham Cars",
    "Caterpillar Brasil",
    "Ceer Motors",
    "Chambers Motors",
    "Chamonix",
    "Chamonix Athos",
    "Chang'an Motors",
    "Changan",
    "Changan Nevo",
    "Changfeng Motor",
    "Changhe",
    "Chatenet",
    "Checker",
    "Cheetah",
    "Chenard-Walcker",
    "Chery",
    "Chery New Energy",
    "Chevrolet",
    "Chevron",
    "ChienThang",
    "China",
    "Chinkara Motors",
    "Chrysler",
    "Chrysler Europe",
    "Cisitalia",
    "Citroën",
    "CityEl",
    "Cizeta",
    "Clan",
    "Clinton",
    "Cobra",
    "Coda",
    "Colonial",
    "Colt",
    "Comarth",
    "Comil",
    "Companhia Industrial Santa Matilde",
    "Cord",
    "Countries by motor vehicle production",
    "Countries by vehicles per capita",
    "Covini",
    "Credo",
    "Croatia",
    "Crosley",
    "Crossley",
    "Crowther",
    "Csepel",
    "Csonka",
    "Cupra",
    "Custoca",
    "Czech Republic",
    "Czinger",
    "DAF",
    "DAF Trucks",
    "DB",
    "DFSK",
    "DIM",
    "DKW",
    "DOK-ING",
    "DR",
    "DS",
    "Dacia",
    "Dadi",
    "Daewoo",
    "Daewoo Automobile S.A.",
    "Dafra Motos",
    "Daihatsu",
    "Daimler",
    "Dansk",
    "Dardo",
    "Darracq",
    "Datsun",
    "David Brown",
    "Dayang",
    "De Dion-Bouton",
    "De Joux",
    "De Tomaso",
    "De Wandre",
    "De la Chapelle",
    "DeLorean Motor Company",
    "DeSoto",
    "Debadging",
    "Deepal",
    "Delage",
    "Delahaye",
    "Delecroix",
    "Dellow",
    "Dennison",
    "Denza",
    "Denzel",
    "Derways",
    "Detroit Electric",
    "Devaux",
    "Devel Motors",
    "Devon",
    "Devrim",
    "Dewan Farooque Motors",
    "Diana",
    "Diar",
    "Dina",
    "Distribuidora de Automóveis, Caminhões e Ônibus Nacionais",
    "Dodge",
    "Dominion Motors Frontenac",
    "Dongfeng",
    "Dongfeng Fengshen",
    "Dongfeng Nammi",
    "Donkervoort",
    "Drako Motors",
    "Drive time",
    "Ducati do Brasil",
    "Duesenberg",
    "Durant",
    "Dutton",
    "E-Z-GO",
    "EBIAM",
    "ELVO",
    "Eagle",
    "Edison Motors",
    "Edran",
    "Edsel",
    "Effa Motors",
    "Egypt",
    "Eicher Motors",
    "El Car",
    "Elcat",
    "Electric Raceabout",
    "Elfin Cars",
    "Elio Motors",
    "Elva",
    "Enfield",
    "Engenheiros Especializados",
    "Eniak",
    "Envoy",
    "Epic",
    "Equus Automotive",
    "ErAZ",
    "Esemka",
    "Etox",
    "Eunos",
    "Eurostar Automobilwerk",
    "Everson",
    "Everus",
    "Excelsior",
    "Exeed",
    "Exlantix",
    "Eysink",
    "F&M",
    "FAP",
    "FAW Pakistan",
    "FAW Tianjin (Xiali)",
    "FCA Srbija",
    "FNM",
    "FNM Fábrica Nacional de Motores",
    "FSO",
    "Fabral",
    "Facel Vega",
    "Facelift",
    "Fairthorpe",
    "Falcon",
    "Fangchengbao",
    "Faraday",
    "Farboud Limited",
    "Farus",
    "Fejes",
    "Felber Autoroller",
    "Fengon",
    "Ferrari",
    "Ferrari Polski",
    "Fiat",
    "Fiat Chrysler Canada",
    "Finch Restorations",
    "Firefly",
    "First Automotive Works",
    "Fisker",
    "Flaid",
    "Foday",
    "Force Motors",
    "Ford",
    "Ford Canada",
    "Ford Romania",
    "Ford Union",
    "Ford-Balt",
    "Ford-Werke",
    "Formosa",
    "Foton",
    "Fraser",
    "Frazer",
    "Frazer Nash",
    "Freightliner",
    "Frontenac",
    "GAC Group",
    "GAC Ireland",
    "GAZ",
    "GM Korea",
    "GMC",
    "GMK",
    "GMB",
    "GR",
    "GSM",
    "GTA Motor",
    "Ganja Auto Plant",
    "Gareau",
    "Gatter",
    "Geely (Jili)",
    "Geely Auto",
    "Geely Galaxy",
    "Geely Geometry",
    "Geijer",
    "Gemballa",
    "General Motors",
    "General Motors Canada",
    "Genesis",
    "Geo",
    "Gerard Farre",
    "Germain",
    "Germany",
    "Ghandhara Industries",
    "Ghandhara Nissan",
    "Giannini",
    "Gilbern",
    "Gillet",
    "Ginetta",
    "Giocattolo",
    "Giottiline",
    "Girardin Minibus",
    "Glas",
    "Glossary",
    "Gobron-Brillié",
    "Goggomobil",
    "Goliath",
    "Gonow",
    "Gordon Murray Automotive",
    "Gordon-Keeble",
    "Granu",
    "Gray-Dort",
    "Great Wall Motors",
    "Grecav",
    "GreenPower",
    "Grofri",
    "Grupo CNH Industrial",
    "Grupo Caoa",
    "Gräf & Stift",
    "Gurgel",
    "HSV",
    "HTT Automobile",
    "Hafei",
    "Haima Automobile",
    "Hansa",
    "Harley-Davidson",
    "Hartnett",
    "Haval",
    "Hawtai (Huatai)",
    "Hayden Dart",
    "Heavy Industries Taxila",
    "Heinkel",
    "Hennessey",
    "Hercules",
    "Heron",
    "Hi-Tech",
    "Hicom",
    "Hillman",
    "Hindustan Motors",
    "Hino",
    "Hino Motors",
    "Hinopak",
    "Hispano Suiza",
    "Hispano-Argentina",
    "History of the automobile",
    "History of the internal combustion engine",
    "Ineos Automotive",
    "Innocenti",
    "Innoson Vehicle Manufacturing",
    "Inokom",
    "Intermeccanica",
    "Invacar",
    "Invicta",
    "Iran",
    "Iran Khodro",
    "Ireland",
    "Iros",
    "Isdera",
    "Iso",
    "Isuzu",
    "Italdesign",
    "Italy",
    "Iveco",
    "Izh",
    "Izuogu",
    "J-Bus",
    "JAC Motors",
    "JMC",
    "JPX Indústria e Comércio",
    "Jacer",
    "Jaecoo",
    "Jaguar",
    "Jaguar e Land Rover Brasil",
    "Jawa",
    "Jeecy-Vea",
    "Jeep",
    "Jehle",
    "Jensen",
    "Jetour",
    "Jiangling",
    "Jinbei",
    "John Deere",
    "Jonway",
    "Jordan",
    "Joss Developments",
    "Jowett",
    "Juwel",
    "Jösse Car",
    "K-1 Engineering",
    "KTM",
    "Kaditcha",
    "Kaipan",
    "Kaiser",
    "KamAZ",
    "Kantanka",
    "Karenjy",
    "Karma",
    "Karmann-Ghia",
    "Karosa",
    "Kawasaki",
    "Kawasaki Motors",
    "Keating Supercars",
    "Kenworth",
    "Kenya",
    "Keraboss",
    "Khodro Kaveer",
    "Kia",
    "Kia Lucky Motors",
    "Kiira",
    "King Long",
    "Kioleides",
    "Kish Khodro",
    "Koenigsegg",
    "Komatsu",
    "Kongsberg",
    "Korres",
    "Korvensuu",
    "KrAZ",
    "Krampers",
    "Kymco",
    "LIAZ",
    "LaFayette",
    "LaSalle",
    "Lada",
    "Lafer",
    "Lagonda",
    "Lamborghini",
    "Lanchester",
    "Lancia",
    "Land Rover",
    "Landwind",
    "Laraki",
    "Lea-Francis",
    "Leapmotor",
    "Leitch",
    "Lexus",
    "Leyland",
    "Li Auto",
    "Libelle",
    "Lifan",
    "Ligier",
    "Lincoln",
    "Lion Bus",
    "Litex Motors",
    "Lloyd",
    "Lloyd-Hartnett",
    "Lobini",
    "Local",
    "Lohner–Porsche",
    "London Electric Vehicle Company",
    "London Six",
    "Lonsdale",
    "Lorraine-Dietrich",
    "Lotec",
    "Lotus",
    "Lotus-Cortina",
    "Lucid",
    "Luxeed",
    "Luxgen",
    "Lynk & Co",
    "Lyons",
    "M-Hero",
    "MAN",
    "MAVA-Renault",
    "MBM",
    "MEBEA",
    "MG",
    "MG JW Automobile",
    "MG Motor",
    "MTX / Metalex",
    "MVM",
    "MW Motors",
    "Mack",
    "Maextro",
    "Mafersa",
    "Magirus",
    "Magna Steyr",
    "Magneti Marelli",
    "Mahindra",
    "Mahindra & Mahindra Limited",
    "Malaysia",
    "Manic GT",
    "Marauder",
    "Marcopolo",
    "Marlborough",
    "Marmon",
    "Marquette",
    "Marussia",
    "Maruti",
    "Maruti Suzuki",
    "Mascarello",
    "Maserati",
    "Massey Ferguson",
    "Master",
    "Mastretta",
    "Mathis",
    "Matra",
    "Maxus",
    "Maxwell",
    "Maybach",
    "Mazda",
    "Mazzanti",
    "McLaren",
    "McLaughlin",
    "McRae",
    "Meeussen",
    "Melex",
    "Melkus",
    "Mercedes-Benz",
    "Mercer",
    "Mercury",
    "Merkur",
    "Messerschmitt",
    "Meteor",
    "Metropolitan",
    "Micro",
    "Microcar",
    "Microenterprise",
    "Midas",
    "Miesse",
    "Millat Tractors",
    "Minerva",
    "Minetti Sports Cars",
    "Minor automotive manufacturing groups",
    "Minsk Automobile Plant",
    "Mistral",
    "Mitsubishi",
    "Mitsubishi Fuso",
    "Mitsuoka",
    "Mobius",
    "Monarch",
    "Monteverdi",
    "Moon",
    "Moose Jaw Standard",
    "Morattab",
    "Morgan",
    "Morocco",
    "Morris",
    "Moskvich",
    "Moskvitch",
    "Mosler",
    "Motor vehicle",
    "Nio",
    "Nissan",
    "Nobe",
    "Noble",
    "Norsk",
    "Nota",
    "Nova Bus",
    "Novoplan",
    "Ntekop",
    "Nu Ride Inc.",
    "Nyayo",
    "O.S.C.A.",
    "ORA",
    "Oakland",
    "Obvio!",
    "Oldsmobile",
    "Oltcit",
    "Omoda",
    "Onvo",
    "Opel",
    "Optimal Energy",
    "Orca",
    "Organisation Internationale des Constructeurs d'Automobiles",
    "Oshan",
    "PGO",
    "PRB",
    "PVP Karting",
    "Packard",
    "Pagani",
    "Pak Suzuki",
    "Pakistan",
    "Pan-Car",
    "Panhard",
    "Panhard et Levassor",
    "Panoz",
    "Panther",
    "Paramount",
    "Pars Khodro",
    "Paykan",
    "Peel Engineering Company",
    "Peerless",
    "Pegaso",
    "Pellandini",
    "Perana",
    "Perodua",
    "Peterbilt",
    "Peugeot",
    "Philippines",
    "Piaggio",
    "Pieper",
    "Pindad",
    "Pininfarina",
    "Pipe",
    "Pirin-Fiat",
    "Plymouth",
    "Poland",
    "Polaris",
    "Polarsun Automobile",
    "Polestar",
    "Polski Fiat",
    "Pontiac",
    "Porsche",
    "Portaro",
    "Praga",
    "Pragoti",
    "Premier",
    "Prevost",
    "Prince",
    "Prince DFSK",
    "Princess",
    "Protea",
    "Proto",
    "Proton",
    "Puch",
    "Puma",
    "Puma Automóveis",
    "Puma Clubman",
    "Purvis Eureka",
    "Pyeonghwa Motors",
    "Python",
    "Qoros",
    "Queen",
    "Qvale",
    "RAESR",
    "RW",
    "Racefab",
    "Radical",
    "Ram Trucks",
    "Rambler",
    "Ranger",
    "Rebadging",
    "Record",
    "Redline",
    "Reliant",
    "Renault",
    "Renault Samsung",
    "Renault Trucks",
    "Rengsjöbilen",
    "Replicar Hellas",
    "Reva",
    "Revoz",
    "Rezvani",
    "Riley",
    "Rimac",
    "Rinspeed",
    "Rising Auto",
    "Rivian",
    "Roewe",
    "Rolls-Royce",
    "Romania",
    "Rosenbauer",
    "Rosengart",
    "Rossion",
    "Royal Enfield Brasil",
    "Royal Star",
    "Ruf",
    "Runner Automobiles",
    "Russia",
    "Rába",
    "SAIC Motor",
    "SAIPA",
    "SEAT",
    "SIN Cars",
    "SSC",
    "STI",
    "Saab",
    "Saehan",
    "Saenara",
    "Saker",
    "Saleen",
    "Salmson",
    "SamKochAvto",
    "Santana",
    "Sao",
    "Saturn",
    "Savage Rivale",
    "Saviem",
    "Sazgar",
    "Scania",
    "Scavas",
    "Scion",
    "Scuderia Cameron Glickenhaus",
    "Senova",
    "Serbia",
    "Seres",
    "Shaanxi Automobile Group",
    "Shahab Khodro",
    "Shaka",
    "Shamrock",
    "Shanghai Maple Guorun Automobile",
    "Shelby American",
    "Shineray do Brasil",
    "Shinjin",
    "Shrike",
    "Shuanghuan",
    "Siata",
    "Sichuan Tengzhong",
    "Simca",
    "Simca do Brasil",
    "Sisu Auto",
    "SlovBus",
    "Slovakia",
    "Smart",
    "Sofia",
    "Sollers",
    "Soueast",
    "Soueast Motors",
    "Spania GTA",
    "Spartan",
    "Spartan Motor Company",
    "Speranza",
    "Spirra",
    "Springuel",
    "Spyker",
    "Ssangyong",
    "Standard",
    "Startup",
    "Statesman",
    "Staver",
    "Stearns-Knight",
    "Steel Brothers",
    "Stelato",
    "Stelka",
    "Stellantis",
    "Steyr Motors GmbH",
    "Steyr automobile",
    "Steyr-Daimler-Puch",
    "Stohr Cars",
    "Studebaker",
    "Styl Kar",
    "Subaru",
    "Sunbeam",
    "Sunbeam-Talbot",
    "Sundown Motos",
    "Sungri Motors",
    "Superformance",
    "Suzuki",
    "Swallow",
    "Sweden",
    "TAC",
    "TAM",
    "TANK",
    "TAV",
    "TAZ",
    "TD2000",
    "THACO",
    "TMC Costin",
    "TOGG",
    "TVR",
    "TagAZ",
    "Taiwan",
    "Takeoka Auto Craft",
    "Talbot",
    "Talbot-Lago",
    "Tangalakis",
    "Tarrant",
    "Tarso Marques",
    "Tata Motors",
    "Tatra",
    "Tauro Sport Auto",
    "TechArt",
    "Techrules",
    "Tecnologia Automotiva Catarinense",
    "Temsa",
    "Tesla",
    "Thai Rung",
    "Thailand",
    "Theologou",
    "Think",
    "Thunder Power",
    "Timeline of motor vehicle brands",
    "Timmis",
    "Timor",
    "Tjorven",
    "Tofaş",
    "Tornado",
    "Toroidion",
    "Toyopet",
    "Toyota",
    "Toyota Canada",
    "Trabant",
    "Tracta",
    "Tramontana (sports car)",
    "Trekka",
    "Trident",
    "Trion Supercars",
    "Triumph",
    "Triumph Brazil",
    "Trnavské automobilové závody",
    "Trojan",
    "Troliga Bus",
    "Troll",
    "Troller",
    "Truck manufacturers",
    "Trumpchi",
    "Tudhope",
    "Turkey",
    "Turner",
    "Tushek & Spigel",
    "Tushek & Spigel Supercars",
    "Tyrrell",
    "UAZ",
    "UD Trucks",
    "Uri-Automobile",
    "Uttara",
    "UzAuto Motors",
    "VAM",
    "VDL Nedcar",
    "VELAM",
    "VLEGA Gaucho",
    "VW-Porsche",
    "Valmet Automotive",
    "Valtra",
    "Van Doorne's Automobiel Fabrieken",
    "Vanaja",
    "Vanden Plas",
    "Vauxhall",
    "Vector",
    "Vehicle Production Group",
    "Velorex",
    "Vencer",
    "Venturi",
    "Venucia",
    "Vespa",
    "Viação Itapemirim",
    "Vicinity Motor Corp.",
    "Vietnam",
    "VinFast",
    "Vinaxuki",
    "Vincke",
    "Vivinus",
    "Voisin",
    "Volkswagen",
    "Volkswagen aka VWB",
    "Volkswagen do Brasil",
    "Voltz Motors",
    "Volvo",
    "Volvo Cars",
    "Voyah",
    "W Motors",
    "Wallyscar",
    "Walter",
    "Walton Motors",
    "Wanderer",
    "Wartburg",
    "Warwick",
    "Western Star",
    "Wey",
    "Wheego",
    "Whirlpool",
    "Wiesmann",
    "Wikov",
    "Willys",
    "Wolseley",
    "Wood",
    "Wuling",
    "XPeng",
    "Xiaomi Auto",
    "Xinkai",
    "Yamaha",
    "Yamaha Motor",
    "Yamaha Motor Pakistan",
    "Yangwang",
    "Yema Auto",
    "Youngman",
    "Yue Long/Yulon/YLN",
    "Yuejin",
    "Yugo",
    "Yusheng",
    "Yutong",
    "ZENN",
    "ZX Auto",
    "Zacua",
    "Zagross Khodro",
    "Zanella",
    "Zastava",
    "Zastava TERVO",
    "Zbrojovka Brno",
    "Zeekr",
    "Zenvo Automotive",
    "Zeta",
    "ZiL",
    "Zimmer",
    "Zotye",
    "Bucciali",
    "Ducati",
    "Hispano-Suiza",
    "Richard-Brasier",
    "RUF",
    "Marmon",
    "Niclausse",
    "Laverda",
    "G.A.R",
    "Citroen",
    "Turcat-MÃ©ry",
    "Delaunay-Belleville",
    "Prunel",
    "Decauville",
    "Bedelia",
    "Sizaire-FrÃ¨res",
    "Altos Moto",
    "Honda",
    "Shelby",
]

In [7]:
sentences = data["Title"]

In [8]:
nan_in_age = data[data["Title"].isna()]
print(nan_in_age)

Empty DataFrame
Columns: [Title, Chassis No, Location, Price, info_0, info_1, info_2, info_3, Event Date, info_4, info_5, listing_URL, info_6, info_7, info_8, info_9, info_10, info_11, info_12, info_13, info_14, info_15, info_16, info_17]
Index: []

[0 rows x 24 columns]

In [9]:
nan_count = data.isna().sum()
nan_count.info

<bound method Series.info of Title            0
Chassis No      24
Location         0
Price            0
info_0           1
info_1           1
info_2           1
info_3          14
Event Date       0
info_4          42
info_5          86
listing_URL      0
info_6         108
info_7         111
info_8         147
info_9         148
info_10        186
info_11        187
info_12        205
info_13        205
info_14        213
info_15        213
info_16        217
info_17        217
dtype: int64>

In [10]:
print(sentences)

0                                        1959 Vespa 400
1                                           1995 BMW M3
2      1869 Western Concord-Style Stagecoach Recreation
3                               1911 Reo Thirty Touring
4               1923 Jewett Model 18-22 Special Touring
                             ...
213                       1994 Alfa Romeo 155 V6 TI DTM
214                     2008 Alfa Romeo 8C Competizione
215            1986 Porsche 911 Turbo 'Flat Nose' Coupé
216     1955 Lancia B24S Spider America by Pinin Farina
217              1972 Ferrari Dino 246 GT by Scaglietti
Name: Title, Length: 218, dtype: object

In [11]:
import re
def find_brands_in_sentence(sentence, brand_name):
    matches = []
    for brand in brand_name:
        # Find all occurrences of the brand in the sentence
        match = re.findall(rf"\b{re.escape(brand)}\b", sentence)
        if match:
            matches.extend(match)  # Add the matched brand to the list
    return matches[0] if matches else ""

In [12]:

total=[]
for sentence in sentences:
    if isinstance(sentence, str):
        # Call the function and print the result
        result = find_brands_in_sentence(sentence, brand_name)
        total.append(result)
    else:
        print(sentence)
        total.append("")

In [13]:
len(total)

218

In [14]:
total

['Vespa',
 'BMW',
 '',
 '',
 '',
 'Chrysler',
 'Cadillac',
 'Buick',
 'Ford',
 'Oldsmobile',
 '',
 'Cadillac',
 '',
 'Packard',
 '',
 'Lincoln',
 'Detroit Electric',
 'Volkswagen',
 'Mercedes-Benz',
 'Buick',
 'Aston Martin',
 'Porsche',
 'Porsche',
 'Porsche',
 'Jaguar',
 'Mercedes-Benz',
 'Aston Martin',
 'Ferrari',
 'Audi',
 'Porsche',
 'Ferrari',
 'Mercedes-Benz',
 'Ferrari',
 'Cobra',
 'Porsche',
 'Porsche',
 'Porsche',
 'Cadillac',
 'Bertone',
 'Plymouth',
 'Packard',
 'Chevrolet',
 'Ferrari',
 'Mercedes-Benz',
 'Lancia',
 '',
 'Mercedes-Benz',
 'Ferrari',
 'Rolls-Royce',
 'Mercury',
 'McLaren',
 'Ferrari',
 'Bentley',
 'Auburn',
 'Porsche',
 'Bugatti',
 'Bugatti',
 'Delahaye',
 'Ferrari',
 'Porsche',
 'Mercedes-Benz',
 'Saleen',
 'Ferrari',
 'Mercedes-Benz',
 'Aston Martin',
 'Porsche',
 'Chevrolet',
 'Bentley',
 'McLaren',
 '',
 'Minerva',
 'Cord',
 'Packard',
 '',
 'Cadillac',
 '',
 'Packard',
 'Lincoln',
 'Mercer',
 'Cadillac',
 'Cadillac',
 '',
 'Renault',
 'Packard',
 '',
 'Chevrolet',
 'Ford',
 'Ford',
 'Ford',
 'Jaguar',
 'Bentley',
 'MG',
 'Ford',
 '',
 'Chevrolet',
 '',
 'Bugatti',
 '',
 '',
 '',
 'Lamborghini',
 'Ferrari',
 'Land Rover',
 'Colonial',
 'Ford',
 '',
 'Jaguar',
 'Alfa Romeo',
 'Mercedes-Benz',
 'Alfa Romeo',
 'Renault',
 'Porsche',
 'Lancia',
 'Porsche',
 'Porsche',
 'Lamborghini',
 'Maserati',
 'Porsche',
 'Porsche',
 'Aston Martin',
 'Porsche',
 'Alfa Romeo',
 'Porsche',
 'Porsche',
 'Ferrari',
 'Bentley',
 'Porsche',
 'Porsche',
 'Porsche',
 'Porsche',
 'Jaguar',
 'Porsche',
 'Aston Martin',
 'Bentley',
 'BMW',
 'Porsche',
 'Porsche',
 'Porsche',
 'Porsche',
 'Porsche',
 'Ferrari',
 'Bertone',
 'Bugatti',
 'BMW',
 'Alfa Romeo',
 'Porsche',
 'Porsche',
 'Alfa Romeo',
 '',
 'Porsche',
 'Citroën',
 'Lotus',
 'Cisitalia',
 'Mercedes-Benz',
 'BMW',
 'Bugatti',
 'Koenigsegg',
 'Ferrari',
 'Lamborghini',
 'Bertone',
 'Alfa Romeo',
 'Jaguar',
 'Talbot',
 'Ferrari',
 'Ferrari',
 'Bugatti',
 'Mercedes-Benz',
 'Ferrari',
 'Ferrari',
 'Pagani',
 'Porsche',
 'Ferrari',
 'Ferrari',
 'Alfa Romeo',
 'Simca',
 'BMW',
 'Abarth',
 'Ferrari',
 'Porsche',
 'Porsche',
 'Porsche',
 'Ferrari',
 'Citroën',
 'Aston Martin',
 'Porsche',
 'Porsche',
 'Porsche',
 'Bentley',
 'Porsche',
 'Alfa Romeo',
 'Shelby',
 'Porsche',
 'Porsche',
 'Porsche',
 'Aston Martin',
 'Alfa Romeo',
 'Bugatti',
 'Porsche',
 'Porsche',
 'Aston Martin',
 'Buick',
 'Ferrari',
 'Porsche',
 'Lamborghini',
 'Aston Martin',
 'Porsche',
 'Maserati',
 'Jensen',
 'Porsche',
 'Citroën',
 'Porsche',
 'Renault',
 'Ford',
 'Alfa Romeo',
 'Alfa Romeo',
 'Porsche',
 'Lancia',
 'Ferrari']

In [15]:
data['Make'] = total

In [16]:
pattern = r"\b\d{4}\b"
final_year = []
for sentence in sentences:
    match = re.search(pattern, sentence)
   
    # Extracted year
    if match:
        # print(match.group(0))
        year = match.group(0)
    else:
        year =""
    final_year.append(year)

In [ ]:
len(final_year)

218

In [18]:
data["Year"]=final_year

In [19]:
len(data["Year"])

218

In [20]:
price = data['Price']

In [21]:
data["Price"]

0        $20,000 - $30,000 USD
1        $50,000 - $70,000 USD
2        $20,000 - $40,000 USD
3        $20,000 - $30,000 USD
4        $20,000 - $30,000 USD
                ...
213    €500,000 - €600,000 EUR
214    €175,000 - €225,000 EUR
215    €140,000 - €180,000 EUR
216    €600,000 - €800,000 EUR
217    €270,000 - €340,000 EUR
Name: Price, Length: 218, dtype: object

In [22]:
test_d = data[["Title", "Make"]]

In [23]:
model_final=[]
for idx, (Title, Make) in enumerate(zip(test_d['Title'], test_d['Make'])):
    if Make:
        pattern = rf"\b{re.escape(Make)}\b"
        parts = re.split(pattern, Title)
        model_final.append(parts[1])
    else:
        model_final.append("")

In [24]:
print(len(model_final))

218

In [25]:
data['Model'] =model_final

In [29]:
# data[["price_info", "Sold Status"]] = data["Price"].str.split(" ", expand=True)

# # Remove leading/trailing whitespace
# data["price_info"] = data["price_info"].str.strip()
# data["Sold Status"] = data["Sold Status"].str.strip()

In [31]:
data["price_info_new"] = data["Price"].str.replace("â‚¬", "€")

In [32]:
# Split price range into low and high estimates
data["low_high"] = data["price_info_new"].str.split("-", expand=False)
data["Low Estimate"] = data["low_high"].str[0].str.strip()  # First part
data["High Estimate"] = (
    data["low_high"].str[1].str.strip()
)  # Second part (if available)

In [33]:
# Create a 'price' column: use 'low_estimate' where 'high_estimate' is None or NaN
data["High Estimate"] = data["High Estimate"].fillna("")
data["price_new"] = data.apply(
    lambda row: row["Low Estimate"] if not row["High Estimate"] else None, axis=1
)

In [34]:
data.loc[data["High Estimate"].isna() | (data["High Estimate"] == ""), "Low Estimate"] = (
    None
)

In [35]:
data["High Estimate"] = (
    data["High Estimate"].str.replace(r"(USD|EUR|GBP)", "", regex=True).str.strip()
)

data["price_new"] = (
    data["price_new"].str.replace(r"(USD|EUR|GBP)", "", regex=True).str.strip()
)

In [36]:
data.columns

Index(['Title', 'Chassis No', 'Location', 'Price', 'info_0', 'info_1',
       'info_2', 'info_3', 'Event Date', 'info_4', 'info_5', 'listing_URL',
       'info_6', 'info_7', 'info_8', 'info_9', 'info_10', 'info_11', 'info_12',
       'info_13', 'info_14', 'info_15', 'info_16', 'info_17', 'Make', 'Year',
       'Model', 'price_info_new', 'low_high', 'Low Estimate', 'High Estimate',
       'price_new'],
      dtype='object')

In [37]:
data["Currency"] = data["price_info_new"].str.extract(r"(USD|EUR|GBP)")

In [41]:
new_order = [
    "Title",
    "Year",
    "Make",
    "Model",
    "Low Estimate",
    "High Estimate",
    "price_new",
    "Currency",
    #"Sold Status",
    "Location",
    "Chassis No",
    "info_0",
    "info_1",
    "info_2",
    "info_3",
    "info_4",
    "info_5",
    "info_6",
    "info_7",
    "info_8",
    "info_9",
    "info_10",
    "info_11",
    "info_12",
    "info_13",
    "info_14",
    "info_15",
    "info_16",
    "info_17",
    # "info_18",
    # "info_19",
    "Event Date",
    "listing_URL",
]

In [42]:
data_new_order = data[new_order]

In [43]:
data_new_order.to_csv(
    "rmsothebys/final_clean/rmsothebys_2025_final_clean_upcoming.csv", index=False
)

In [1]:
import pandas as pd

In [325]:
file = "rmsothebys/final_clean/rmsothebys_2019_final_clean.csv"
df = pd.read_csv(file)
#df.head()

In [326]:
import numpy as np
df["Event Date"]=np.nan

In [135]:
#df.head()

In [327]:
df.columns

Index(['Title', 'Year', 'Make', 'Model', 'Low Estimate', 'High Estimate',
       'price_new', 'Currency', 'Sold Status', 'Location', 'Chassis No',
       'info_0', 'info_1', 'info_2', 'info_3', 'info_4', 'info_5', 'info_6',
       'info_7', 'info_8', 'info_9', 'info_10', 'info_11', 'info_12',
       'info_13', 'info_14', 'info_15', 'info_16', 'info_17', 'info_18',
       'listing_URL', 'Event Date'],
      dtype='object')

In [372]:
null_rows_specific = df[df["Event Date"].isnull()]
urls = null_rows_specific["listing_URL"]

In [373]:
len(urls)

0

In [374]:
urls

Series([], Name: listing_URL, dtype: object)

In [371]:
for url in urls:
    if url.split("/")[4] == "gc19":
        df.loc[df["listing_URL"] == url, "Event Date"] = "4 - 5 May 2019"

In [375]:
write_filename = f"rmsothebys/final_clean_new/rmsothebys_2019_final_clean_event.csv"
df.to_csv(write_filename, index=False)

In [396]:
file = f"rmsothebys/final_clean_new/rmsothebys_2024_final_clean_event.csv"
df = pd.read_csv(file)

In [397]:
location_column = df.pop("listing_URL")
df["listing_URL"] = location_column

In [398]:
df.columns

Index(['Title', 'Year', 'Make', 'Model', 'Low Estimate', 'High Estimate',
       'price_new', 'Currency', 'Sold Status', 'Location', 'Chassis No',
       'info_0', 'info_1', 'info_2', 'info_3', 'info_4', 'info_5', 'info_6',
       'info_7', 'info_8', 'info_9', 'info_10', 'info_11', 'info_12',
       'info_13', 'info_14', 'Event Date', 'listing_URL'],
      dtype='object')

In [399]:
write_filename = f"rmsothebys/final_clean_new/rmsothebys_2024_final_clean_event.csv"
df.to_csv(write_filename, index=False)